html{
    background-color: darkslategray;
}

#myimage{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    border: double;
    border-color: antiquewhite;
    border-radius: 10%;
}

h3{
    background-color: aliceblue;
    border: solid;
    border-color: rgb(156, 20, 20);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}