.h1 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-self: auto;
        text-align: auto;
        margin: 0;
        padding: 20px 0;
        color: #151c0d;
        text-shadow: 3px 1px 3px #fefae0;
}

html{
    background-color: #a86a24 ;
    color: #151c0d;
    background: linear-gradient(-45deg, #d789d7, #9d65c9, #5d54a4, #2a3d66);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
    
        50% {
            background-position: 100% 50%;
        }
    
        100% {
            background-position: 0% 50%;
        }
}
#travelling{
    background-color: #f1e69a;
    text-align: center;
    color: #fefae0;

    margin: auto;
        border: 3px outset #434343;
        align-self: center;
        text-align: center;
        align-items: center;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

#Dilemma{
    background-color: #f1e69a;
    text-align: center;
    color: #fefae0;

    margin: auto;
        border: 3px outset #434343;
        align-self: center;
        text-align: center;
        align-items: center;
        margin-top: 5%;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}