h1 {
    align-self: auto;
    text-align: auto;
    margin: 0;
    padding: 20px 0;
    color: #434343;
    text-shadow: 3px 3px 1px #be9a60;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html {
    font-size: 20px;
    font-family: "mono", sans-serif;
    background-color: #ceddbb;
    align-self: auto;
}

#p1 {
     
    color: #434343;
    font-family: Times;
    align-self: center;
    text-align: center;
    background-color: #be9a60;
    width: auto;
    padding: 50px;
    margin: auto;
    border: 5px double #434343;

}
body

.content{
    background-color: #be9a60;
    margin: auto;
    border: 3px outset #434343;
    align-self: center;
    text-align: center;
    align-items: center;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .mustard{
    border: 5px groove #d1ac7b;
 }

#blogs{
    color: #36280b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#blogs:hover{
    color: #000000;
}
#faq{
    color: #36280b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#faq:hover{
    color: #000000;
}
#email{
    color: #36280b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#email:hover{
    color: #000000;
}

#connectme
{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid #434343;
    background-color: #be9a60;
    padding: 10px;
    font-family: 'kanit ' ;
}
#instagram
{
    color: #975e64;
    background-color: #e8eaeb;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;

}
#instagram:hover{
        color: #e8eaeb;
        background-color: #975e64;
}

#facebook {
    color: #975e64;
    background-color: #e8eaeb;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
#facebook:hover{
color: #e8eaeb;
    background-color: #975e64;
}

#youtube
 {
    color: #975e64;
    background-color: #e8eaeb;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
 }

#youtube:hover {
    color: #e8eaeb;
    background-color: #975e64;
}

#github
 {
    color: #975e64;
    background-color: #e8eaeb;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;


}
#github:hover{
color: #e8eaeb;
    background-color: #975e64;
}

