h1{
    text-align: center;
    font-family: Bebas Neue;
}

#flowers{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#quote{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#song{
    width: 50%;
    height: 70%;
}