h1{
    text-align: center;
    font-family: Bebas Neue;
}
html{
    background-color: antiquewhite;
    position: absolute;
        display: flex;
        width:75%;
        min-height: calc((1vw + 1vh) * 75);
        /* center page with absolute position */
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 2em 0;
        padding: 4em;
        box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
        background: #fffef0;
    }
    
html{
    @media only screen and (max-width: 600px) {
        width: 100%;
        
    }
}    
    

#flowers{
    position: relative;
    display: block;
    margin-right: auto;
    width: 50%;
}
#quote{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: #e6f18c;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    height: 250px;
    background-image: url(/images/flowerscale.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%
    
    
    
}
#quote{
    @media only screen and (max-width: 600px) {
        width: 300px;
        
    }
}

#quoter{
    font-size: smaller;
    background-color: rgb(226, 104, 196);
    color: black;
    text-shadow: none;
    font-family: mono;
    margin: 5px;
}

.container {
    
    display: flex;
    align-items: center;
    text-align: center;
    align-self: center;
    justify-content: left;
    position: relative;
    float: left;
    margin-right: 10px;
}
.container{
@media only screen and (max-width: 600px) {
        align-items: center;
        text-align: center;
        align-self: center;
        justify-content: center;
        position: relative;
        float: none;
        margin-right: 0px;

    
}
}


#para1{
    font-family: allerta ;
    
    
}
